<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>SellYourTeacher - Detail annonce</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Header-->
        <header class="bg-dark py-5" style="background-image: url('/assets/background1.jpg');background-size: cover;
        background-repeat: no-repeat;">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Annonce</h1>
                            <p class="lead text-white-50 mb-4">Annonce proposée par {{ professor?.firstname }} {{ professor?.lastname }}</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/annonces">Retour à la liste</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Annonce section-->
        <section class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-book"></i></div>
                    <h2 class="fw-bolder">{{annonce.title}}</h2>
                    <p class="lead mb-0">{{annonce.subject}}</p>
                    <p class="lead mb-0"><strong>Niveau: </strong></p>
                    <p class="lead mb-2">{{annonce.grade}}</p>
                    <p class="lead mb-0"><strong>Description: </strong></p>
                    <p class="lead mb-2">{{annonce.description}}</p>
                    <p class="lead mb-0"><strong>Date: </strong>{{annonce.date}}</p>
                    <p class="lead mb-0"><strong>Durée: </strong>{{annonce.duration}} heure(s)</p>
                    <p class="lead mb-0"><strong>Tarif Horraire: </strong>{{annonce.hourly_price}}€/heure</p>    
                </div>
            </div>
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person"></i></div>
                    <h2 class="fw-bolder">Professeur</h2>
                    <p class="lead mb-0">{{ professor?.lastname }} {{ professor?.firstname }}</p>
                    <p class="lead mb-0"><strong>Date de naissance: </strong> {{ professor?.birthday }}</p>
                    <p *ngIf="user?.id == annonce.student_id || user?.id == annonce.professor_id" class="lead mb-0"><strong>Mail: </strong> {{ professor?.email }}</p>
                </div>
            </div>
            <div *ngIf="annonce.student_id == user?.id || annonce.professor_id == user?.id" class="container px-5 my-5 px-5">
                <div class="text-center mb-5" *ngIf="annonce.student_id != null" >
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person"></i></div>
                    <h2 class="fw-bolder">Etudiant</h2>
                    <p class="lead mb-0">{{ student?.lastname }} {{ student?.firstname }}</p>
                    <p class="lead mb-0"><strong>Date de naissance: </strong> {{ student?.birthday }}</p>
                    <p class="lead mb-0"><strong>Mail: </strong> {{ student?.email }}</p>
                </div>
            </div>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center" *ngIf="user?.role_id == 1">
                <button *ngIf="annonce.student_id == null" class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/annonce/{{annonce_id}}/inscription">Inscription</button>
                <button *ngIf="annonce.student_id == user?.id" class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/annonce/{{annonce_id}}/inscription">Desinscription</button>

            </div>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center" *ngIf="user?.id == annonce.professor_id">
                <button class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/annonces/edit/{{ annonce_id }}">Modifier</button>
                <button class="btn btn-danger btn-lg px-4 me-sm-3" (click)="deleteData(annonce.id)">Supprimer</button>
            </div>
        
        </section>
        <!-- Footer-->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
