<button class="btn btn-primary btn-sm" routerLink="addAnnonce">Ajouter Annonce</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Subject</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Duration</th>
            <th scope="col">Hourly Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let annonce of annonces">
            <th scope="row">{{ annonce.id }}</th>
            <td>{{ annonce.title }}</td>
            <td>{{ annonce.subject }}</td>
            <td>{{ annonce.description }}</td>
            <td>{{ annonce.date }}</td>
            <td>{{ annonce.duration }}</td>
            <td>{{ annonce.hourly_price }}</td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="deleteData(annonce.id)">Delete</button>
                <button class="btn btn-warning btn-sm" routerLink="edit/{{ annonce.id }}" >edit</button>
            </td>
        </tr>
    </tbody>
</table>
