<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>SellYourTeacher - Création annonce</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Header-->
        <header class="bg-dark py-5" style="background-image: url('/assets/background1.jpg');background-size: cover;
        background-repeat: no-repeat;">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Créer une annonce</h1>
                            <p class="lead text-white-50 mb-4">Complétez le formulaire de création ci-dessous pour ajouter votre annonce.</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/annonces">Retour aux annonces</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Form section-->
        <section class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person-check"></i></div>
                    <h2 class="fw-bolder">Formulaire de création d'annonce</h2>
                    <p class="lead mb-0">Merci de remplir les champs suivants pour ajouter votre annonce</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <form (ngSubmit)="submit(user?.id)" [formGroup]="form" id="contactForm">
                            <!-- Title input-->
                            <div class="form-floating mb-3"> 
                                <input type="text" name="title" formControlName="title" id="title" class="form-control" [ngClass]="{'is-invalid': submitted && f['title'].errors}">
                                <label for="title">Titre</label>
                                <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                                    <div *ngIf="f['title'].errors['required']">
                                        Le titre est Requis
                                    </div>
                                </div>
                            </div>
                            <!-- Subject input-->
                            <div class="form-floating mb-3">
                                <input type="text" name="subject" formControlName="subject" id="subject" class="form-control" [ngClass]="{'is-invalid': submitted && f['subject'].errors}">
                                <label for="subject">Sujet/Matière</label>
                                <div *ngIf="submitted && f['subject'].errors" class="invalid-feedback">
                                    <div *ngIf="f['subject'].errors['required']">
                                        Sujet requis
                                    </div>
                                </div>
                            </div>
                            <!-- Description input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" type="text" name="description" formControlName="description" id="description"  style="height: 10rem" [ngClass]="{'is-invalid': submitted && f['description'].errors}"></textarea>
                                <label for="description">Description</label>
                                <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                                    <div *ngIf="f['description'].errors['required']">
                                        Description requise
                                    </div>
                                </div>
                            </div>
                            <!-- Grade input-->
                            <div class="form-floating mb-3">
                                <input type="text" name="grade" formControlName="grade" id="grade" class="form-control" [ngClass]="{'is-invalid': submitted && f['grade'].errors}">
                                <label for="Grade">Niveau</label>
                                <div *ngIf="submitted && f['grade'].errors" class="invalid-feedback">
                                    <div *ngIf="f['grade'].errors['required']">
                                        Niveau requis
                                    </div>
                                </div>
                            </div>
                            <!-- Date input -->
                            <div class="form-floating mb-3">
                                <input type="date" name="date" formControlName="date" id="date" class="form-control" [ngClass]="{'is-invalid': submitted && f['date'].errors}">
                                <label for="date">Date</label>
                                <div *ngIf="submitted && f['date'].errors" class="invalid-feedback">
                                    <div *ngIf="f['date'].errors['required']">
                                        Date requise
                                    </div>
                                </div>
                            </div>
                            <!-- Duration input-->
                            <div class="form-floating mb-3">
                                <input type="number" name="duration" formControlName="duration" id="duration" class="form-control" [ngClass]="{'is-invalid': submitted && f['duration'].errors}">
                                <label for="duration">Durée (en heure)</label>
                                <div *ngIf="submitted && f['duration'].errors" class="invalid-feedback">
                                    <div *ngIf="f['duration'].errors['required']">
                                        Durée requise
                                    </div>
                                </div>
                            </div>
                            <!-- Hourly_price input-->
                            <div class="form-floating mb-3">
                                <input type="number" name="hourly_price" formControlName="hourly_price" id="hourly_price" class="form-control" [ngClass]="{'is-invalid': submitted && f['hourly_price'].errors}">
                                <label for="hourly_price">Tarif horraire</label>
                                <div *ngIf="submitted && f['hourly_price'].errors" class="invalid-feedback">
                                    <div *ngIf="f['hourly_price'].errors['required']">
                                        Tarif horraire requis
                                    </div>
                                </div>
                            </div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Ajouter l'annonce</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>

